/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.loadingModal{
  width:300px !important;
}

.bgd {
  background-repeat: no-repeat;
  position: relative;

}

#imga {
/* the actual 'watermark' */
position: absolute;
display : block;
top: 100px; /* or whatever */
right: 100px; /* or whatever, position according to taste */
opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
filter:alpha(opacity=50); /* for <= IE 8 */
}

.hover:hover{
  cursor:pointer;
}

 .bk{
  background-image: url('../tile.jpg');
  outline: #000 solid thick;
  padding:10px 50px 10px 50px;

 }

.orderbyselect{
  margin-top: 30px !important;
  
}

/*
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}*/